* {
    padding: 0;
    margin: 0;
}

.page-grid-wrapper {
    height: 90vh;
    display: grid;
    grid-template: 75px 100px 3fr / 275px 4fr;
}

.search {
    grid-column: 2 / 3;
}

.header {
    grid-column: 2 / 3;
}

.sidebar {
    grid-row: 1 / 4;
    background-color: #416788;
}

.content-area {
    display: grid;
    grid-template-columns:1fr 250px;
    height: 100%;
}

.projects {
    background-color: #E0E0E2;
    padding: 25px;
    grid-row: 1 / 4;
}

.card-wrapper {
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
}

.content-title {
    grid-column: 1 / 4;
}

.card {
    height: 175px;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.announcements {
    grid-column: 2 / 2;
}

.trending {
    grid-column: 2 / 2;
}

/* color pallete
platinum: #E0E0E2
tiffany blue: #81D2C7
french gray: #B5BAD0
glaucous: #7389AE
lapis lazuli: #416788 */