* {
    padding: 0;
    margin: 0;
}

.page-grid-wrapper {
    height: 100vh;
    display: grid;
    grid-template: 75px 100px 3fr / 275px 4fr;
}

.search {
    grid-column: 2 / 3;
    align-content: center;
}

.search input {
    width: 50%;
    border: none;
    background-color: #E0E0E2;
    height: 30px;
    border-radius: 15px;
    padding: 0 10px;
}

.bell,
.notification {
    height: 24px;
    padding: 0 10px;
}

.profile-picture {
    height: 40px;
}

.header .profile-picture {
    height: 64px;
}

.header {
    grid-column: 2 / 3;
}

.sidebar {
    grid-row: 1 / 4;
    background-color: #416788;
}

.sidebar .logo {
    height: 64px;
}

.sidebar .sidebar-icon {
    height: 24px;
}

.content-area {
    display: grid;
    grid-template-columns:1fr 250px;
    height: 100%;
}

.projects {
    background-color: #E0E0E2;
    padding: 25px;
    grid-row: 1 / 4;
}

.card-wrapper {
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
}

.content-title {
    grid-column: 1 / 4;
}

.card {
    height: 175px;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.svg-card {
    height: 24px;
}

.announcements {
    grid-column: 2 / 2;
}

.trending {
    grid-column: 2 / 2;
}

/* color pallete
platinum: #E0E0E2
tiffany blue: #81D2C7
french gray: #B5BAD0
glaucous: #7389AE
lapis lazuli: #416788 */