* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-grid-wrapper {
    height: 100vh;
    display: grid;
    grid-template: 75px 100px 3fr / 275px 4fr;
}

.search {
    grid-column: 2 / 3;
}

.search input {
    width: 50%;
    border: none;
    background-color: #E0E0E2;
    height: 30px;
    border-radius: 15px;
    padding: 0 10px;
}

.bell,
.notification {
    height: 24px;
    padding: 0 10px;
}

.profile-picture {
    height: 64px;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 124px repeat(2, minmax(0, 1fr));
    /* minmax() is ensuring that the grid will not extend past its given space no matter the contents */
    grid-template-rows: minmax(0, 1fr);
    contain: size;
}

.header .profile-picture {
    height: 112px;
    padding-left: 24px;
}

.greeting-container {
    padding-top: 24px;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.greeting-container .hello-there {
    font-size: 16px;
    font-weight: 600;
}

.greeting-container .user-name {
    font-size: 32px;
    font-weight: 600;
}

.sidebar {
    padding: 12px;
    grid-row: 1 / 4;
    background-color: #416788;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    display: grid;
    grid-template-rows: 10% 30% 60%;
    gap: 48px;
}

.sidebar .logo {
    height: 64px;
    padding-right: 12px;
    position: relative;
    top: 0.7em;
}

.sidebar .title {
    font-size: 1.3em;
}

li {
    padding: 8px;
}

.sidebar .sidebar-icon {
    height: 24px;
    padding-right: 12px;
    position: relative;
    top: 0.15em;
}

.content-area {
    display: grid;
    grid-template-columns:1fr 250px;
    height: 100%;
}

.projects {
    background-color: #E0E0E2;
    padding: 24px;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 24px 1fr;
    gap: 12px;
}

.content-title {
    font-weight: 600;
}

.card-wrapper {
    /* grid-row: 1 / 4; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
}

.card {
    height: 175px;
    padding: 15px 18px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #81D2C7 8px, white 8px);
    display: grid;
    grid-template-rows: .5fr 1fr .5fr;
    gap: 4px;
    box-shadow: 3px 5px 5px #8b8b8b;
}

.card .card-actions {
    display: flex;
    gap: 12px;
    justify-content: end;
    align-self: flex-end;
}

.svg-card {
    height: 24px;
}

.announcements {
    grid-column: 2 / 2;
}

.trending {
    grid-column: 2 / 2;
}

/* color pallete
platinum: #E0E0E2
tiffany blue: #81D2C7
french gray: #B5BAD0
glaucous: #7389AE
lapis lazuli: #416788 */